@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background-color: #eceef1;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
